<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>캡스톤Web_DEMO</title>
</head>
<body>
    <div id="page-wrapper"> <!--공간분할-->
        <header id="main-header">
            <hgroup>
                <h1 class="master-title">캡스톤Wed_DEMO</h1>
                <h2 class="master-description">By songryu</h2>
            </hgroup>
        </header>

        <nav id="main-navigation"></nav>
        <div class="pull-left">
            <ul class="outer-menu">
                <li class="outer-menu-item"><span class="menu-title">WEB</span>


                </li>
            </ul>
        </div>

        <div id="content">
            <section id="main-section"></section>
            <aside id="main-aside"></aside>
        </div>

        <footer id="main-footer"></footer>
    </div>

    <hi>first</hi>
</body>
</html>